@font-face {font-family: "MerriweatherSans-Regular"; src: url(MerriweatherSans-Regular.otf)}
@font-face {font-family: "MerriweatherSans-Italic"; src: url(MerriweatherSans-Italic.otf)}
@font-face {font-family: "MerriweatherSans-Bold"; src: url(MerriweatherSans-Bold.otf)}
@font-face {font-family: "Merriweather-BoldItalic"; src: url(Merriweather-BoldItalic.ttf)}
@font-face {font-family: "MerriweatherSans-Light"; src: url(MerriweatherSans-Light.otf)}
@font-face {font-family: "MerriweatherSans-ExtraBold"; src: url(MerriweatherSans-ExtraBold.otf)}
@font-face {font-family: "STIXGeneral-Bold"; src: url(STIXGeneral-Bold.woff)}
@font-face {font-family: "STIXGeneral-BoldItalic"; src: url(STIXGeneral-BoldItalic.woff)}
@font-face {font-family: "STIXGeneral-Italic"; src: url(STIXGeneral-Italic.woff)}
@font-face {font-family: "STIXGeneral-Regular"; src: url(STIXGeneral-Regular.woff)}
@font-face {font-family: "STIXIntegralsD-Bold"; src: url(STIXIntegralsD-Bold.woff)}
@font-face {font-family: "STIXIntegralsD-Regular"; src: url(STIXIntegralsD-Regular.woff)}
@font-face {font-family: "STIXIntegralsSm-Bold"; src: url(STIXIntegralsSm-Bold.woff)}
@font-face {font-family: "STIXIntegralsSm-Regular"; src: url(STIXIntegralsSm-Regular.woff)}
@font-face {font-family: "STIXIntegralsUp-Bold"; src: url(STIXIntegralsUp-Bold.woff)}
@font-face {font-family: "STIXIntegralsUp-Regular"; src: url(STIXIntegralsUp-Regular.woff)}
@font-face {font-family: "STIXIntegralsUpD-Bold"; src: url(STIXIntegralsUpD-Bold.woff)}
@font-face {font-family: "STIXIntegralsUpD-Regular"; src: url(STIXIntegralsUpD-Regular.woff)}
@font-face {font-family: "STIXIntegralsUpSm-Bold"; src: url(STIXIntegralsUpSm-Bold.woff)}
@font-face {font-family: "STIXIntegralsUpSm-Regular"; src: url(STIXIntegralsUpSm-Regular.woff)}
@font-face {font-family: "STIXNonUnicode-Bold"; src: url(STIXNonUnicode-Bold.woff)}
@font-face {font-family: "STIXNonUnicode-BoldItalic"; src: url(STIXNonUnicode-BoldItalic.woff)}
@font-face {font-family: "STIXNonUnicode-Italic"; src: url(STIXNonUnicode-Italic.woff)}
@font-face {font-family: "STIXNonUnicode-Regular"; src: url(STIXNonUnicode-Regular.woff)}
@font-face {font-family: "STIXSizeFourSym-Bold"; src: url(STIXSizeFourSym-Bold.woff)}
@font-face {font-family: "STIXSizeFourSym-Regular"; src: url(STIXSizeFourSym-Regular.woff)}
@font-face {font-family: "STIXSizeOneSym-Bold"; src: url(STIXSizeOneSym-Bold.woff)}
@font-face {font-family: "STIXSizeOneSym-Regular"; src: url(STIXSizeOneSym-Regular.woff)}
@font-face {font-family: "STIXSizeThreeSym-Bold"; src: url(STIXSizeThreeSym-Bold.woff)}
@font-face {font-family: "STIXSizeTwoSym-Bold"; src: url(STIXSizeTwoSym-Bold.woff)}
@font-face {font-family: "STIXSizeTwoSym-Regular"; src: url(STIXSizeTwoSym-Regular.woff)}
@font-face {font-family: "STIXVariants-Bold"; src: url(STIXVariants-Bold.woff)}
@font-face {font-family: "STIXVariants-Regular"; src: url(STIXVariants-Regular.woff)}
*.ebook *.level-1, *.ebook *.level-2, *.ebook *.level-3, *.ebook *.level-4, *.ebook *.level-5, *.ebook *.level-6, *.ebook *.order-list, *.ebook *.unorder-list, *.ebook *.para, *.ebook *.list-item, *.ebook *.link, *.ebook *.txt-sub, *.ebook *.txt-sup, *.ebook *.sidenote, *.ebook *.tbl, *.ebook *.box, *.ebook *.image, *.ebook *.fig, *.ebook *.equation { margin: 0; padding: 0 }
*.ebook { max-width: 760px; margin-left: auto; margin-right: auto; font-family: "MerriweatherSans-Regular"; padding: 0.5em }
*.ebook *.list-item, *.ebook *.para { color: rgb(34, 30, 31); font-size: 12pt; hyphens: none; -moz-hyphens: none; -webkit-hyphens: none }
*.ebook *.level-1, *.ebook *.level-2, *.ebook *.level-3, *.ebook *.level-4, *.ebook *.level-5, *.ebook *.level-6 { hyphens: none; -moz-hyphens: none; -webkit-hyphens: none; page-break-after: avoid; margin: 0.9em 0 0.3em 0; font-weight: normal }
*.ebook *.level-1 + *.order-list, *.ebook *.level-1 + *.unorder-list, *.ebook *.level-2 + *.order-list, *.ebook *.level-2 + *.unorder-list, *.ebook *.level-3 + *.order-list, *.ebook *.level-3 + *.unorder-list, *.ebook *.level-4 + *.order-list, *.ebook *.level-4 + *.unorder-list, *.ebook *.level-5 + *.order-list, *.ebook *.level-5 + *.unorder-list, *.ebook *.level-6 + *.order-list, *.ebook *.level-6 + *.unorder-list { margin-top: 0 }
*.ebook *.link { text-decoration: none; color: rgb(28, 152, 176) }
*.ebook *.para { font-family: "MerriweatherSans-Regular"; font-size: 12pt; line-height: 18pt; margin-bottom: 5px }
*.ebook sub.default, *.ebook *.sub { line-height: 1em; font-size: 0.7em; vertical-align: sub }
*.ebook sup.default, *.ebook *.sup { line-height: normal; font-size: 0.7em; vertical-align: super }
*.ebook *.level-1 { font-size: 22pt; line-height: 24pt; font-family: "MerriweatherSans-Regular"; text-transform: uppercase; width: 100% }
*.ebook *.level-1.enum-head { font-family: "MerriweatherSans-Regular"; font-size: 22pt; line-height: 24pt; display: table }
*.ebook *.level-1.enum-head *.enum { padding-right: 0.5em; width: 1em; color: rgb(35, 31, 32); display: table-cell; white-space: nowrap }
*.ebook *.level-2 { font-family: "MerriweatherSans-Regular"; font-size: 20pt !important; line-height: 22pt }
*.ebook *.level-3 { font-family: "MerriweatherSans-Regular"; font-size: 18pt; line-height: 22pt; color: rgb(28, 152, 176) }
*.ebook *.level-4 { font-size: 14pt; line-height: 16pt; color: rgb(35, 31, 32) }
*.ebook *.small-text { font-family: "MerriweatherSans-Regular"; font-size: 8pt }
*.ebook *.glo-term { font-family: "MerriweatherSans-Regular"; margin-top: 0.5em; margin-bottom: 0em }
*.ebook dt.glo-term-bold { font-family: "MerriweatherSans-Bold"; margin-top: 0.5em; margin-bottom: 0em }
*.ebook *.fig { display: block; max-width: 100%; clear: both }
*.ebook *.fig ol:last-child, *.ebook *.fig ul:last-child { margin-bottom: 0 }
*.ebook *.fig h4.level-4 { font-family: "MerriweatherSans-ExtraBold"; color: rgb(28, 152, 176); margin-top: 0; font-size: 20pt; line-height: 22pt }
*.ebook *.fig *.no-border { border: none; padding: 0 }
*.ebook *.image { max-width: 100% }
*.ebook *.fig *.fig-caption { display: block; margin-bottom: 0.5em; color: rgb(0, 0, 0) }
*.ebook *.fig *.fig-caption:last-child { margin-bottom: 0; padding-bottom: 0 }
*.ebook *.fig *.widget.image-widget { padding-bottom: 0; background-color: rgb(255, 255, 255) !important }
*.ebook *.fig *.fig-caption span.figure-title, *.ebook *.fig *.widget *.widget-description span.figure-title { font-family: "MerriweatherSans-Bold"; font-size: 12pt; color: rgb(28, 152, 176) }
*.ebook *.fig *.fig-caption span.figure-caption, *.ebook *.fig *.widget *.widget-description span.figure-caption { font-size: 10pt; color: rgb(50, 48, 49) }
*.ebook *.width-half { float: right; clear: right; width: 40%; margin: 0 0 9px 9px }
*.ebook *.width-half *.figcaption { margin-top: 0; margin-bottom: 9px }
*.ebook *.fig *.figcaption *.figure-caption, *.ebook *.fig *.figcaption *.link { font-size: 10pt }
*.ebook *.center { display: block; width: 70%; margin-left: auto; margin-right: auto; clear: both }
*.ebook *.txt-credit { color: rgb(34, 30, 31); font-size: 10pt; line-height: 12pt; margin-top: 0.5em; display: block }
*.ebook *.fig-box { border-top: 1px solid rgb(50, 48, 49); padding: 0.9em 0; margin: 0.9em 0 }
*.ebook *.fig *.fig-box *.level-4 { font-family: "MerriweatherSans-Regular"; font-size: 16pt; line-height: 18pt; color: rgb(28, 152, 176) }
*.ebook *.fig-box *.level-4:first-child { margin-top: 0 }
*.ebook *.sidenote { overflow: hidden; font-family: "MerriweatherSans-Regular"; margin: 2em 0 }
*.ebook *.sidenote-equation { border: none; width: 80%; margin-left: auto; margin-right: auto; background: rgb(220, 224, 233); font-family: "STIXGeneral-Regular"; position: relative; padding: 0.3em 0.5em }
*.ebook *.sidenote-equation *.equation, *.ebook *.sidenote-equation *.equation-number { font-size: 14pt; line-height: 16pt; color: rgb(35, 31, 32) }
*.ebook *.sidenote *.box { padding: 0.5em 0.5em 0.3em 0.5em; border: solid 1px rgb(120, 121, 122); overflow: hidden !important; border: none; background: rgb(254, 246, 226) }
*.ebook *.tbl-cntr *.tbl-4 tbody tr td { padding-left: 8pt }
*.ebook *.sidenote *.box > *.level-4:first-child, *.ebook *.sidenote *.box > *.level-5:first-child, *.ebook *.sidenote *.box > *.order-list:first-child, *.ebook *.sidenote *.box > *.unorder-list:first-child { margin-top: 0 }
*.ebook *.sidenote *.box.order-list:last-child, *.ebook *.sidenote *.box.unorder-list:last-child { margin-bottom: 0 }
*.ebook *.sidenote *.level-4 { font-size: 20pt; line-height: 22pt; font-family: "MerriweatherSans-Bold"; text-transform: uppercase }
*.ebook *.sidenote *.level-4.enum-head { font-size: 20pt; line-height: 22pt; display: table }
*.ebook *.sidenote *.level-4.enum-head *.enum { padding-right: 0.5em; color: rgb(35, 31, 32); width: 1em; display: table-cell; white-space: nowrap; font-family: "MerriweatherSans-Regular" }
*.ebook *.sidenote *.level-5 { font-size: 18pt; line-height: 20pt }
*.ebook *.sidenote *.level-6 { font-size: 14pt; line-height: 16pt }
*.ebook *.sidenote > *.level-4:first-child { margin-top: 0 }
*.ebook *.block { display: block; margin-bottom: 0.7em }
*.ebook *.sidenote-fig { border: solid 1px rgb(50, 48, 49); padding: 0.5em }
*.ebook *.sidenote-fig *.fig-caption + *.fig { margin: 1em 0 }
*.ebook *.sidenote-fig ol:last-child, *.ebook *.sidenote-fig ul:last-child { margin-bottom: 0 }
*.ebook *.sidenote-fig span.level-4 { font-family: "MerriweatherSans-ExtraBold"; color: rgb(28, 152, 176); border: none; margin-top: 0; font-size: 20pt; line-height: 22pt; display: block }
*.ebook *.sidenote-fig *.image, *.ebook *.fig *.image-main, *.ebook *.sidenote-fig *.widget *.image-main { display: block; margin: 0em auto 0.5em auto }
*.ebook *.sidenote-fig *.level-4 { border-top: 1px solid rgb(34, 30, 31); margin-top: 0.9em; padding-top: 0.5em; font-family: "MerriweatherSans-Regular"; font-size: 16pt; line-height: 18pt; margin-left: -0.5em; padding-left: 0.5em; margin-right: -0.5em; padding-right: 0.5em }
*.ebook *.sidenote-fig *.fig-caption { display: block; margin-bottom: 0.5em }
*.ebook *.sidenote-fig *.fig-caption:last-child { margin-bottom: 0; padding-bottom: 0 }
*.ebook *.sidenote-fig *.widget.image-widget { padding-bottom: 0 }
*.ebook *.sidenote-fig *.fig-caption span.figure-title, *.ebook *.sidenote-fig *.widget *.widget-description span.figure-title { font-family: "MerriweatherSans-Bold"; font-size: 12pt; color: rgb(28, 152, 176) }
*.ebook *.sidenote-fig *.fig-caption span.figure-caption, *.ebook *.sidenote-fig *.widget *.widget-description span.figure-caption { font-size: 11pt; color: rgb(50, 48, 49) }
*.ebook *.sidenote-learning *.level-4 { font-size: 20pt; line-height: 22pt; color: rgb(225, 86, 49); font-family: "MerriweatherSans-Regular"; text-transform: none }
*.ebook *.sidenote-2 { width: 70%; margin: 1em auto 1em }
*.ebook *.sidenote-2 *.box { border: 1pt solid rgb(128, 165, 63); background: rgb(236, 242, 226) }
*.ebook *.list-item-space > *.list-item { margin-bottom: 0.9em }
*.ebook *.unorder-list { padding-left: 1.2em !important }
*.ebook *.unorder-list *.list-item { color: rgb(83, 84, 86) }
*.ebook *.list-orange > *.list-item { color: rgb(225, 86, 49) }
*.ebook *.list-green > *.list-item { color: rgb(128, 165, 63) }
*.ebook *.list-blue > *.list-item { color: rgb(28, 152, 176) }
*.ebook *.list-step.list-blue *.step-title { color: rgb(28, 152, 176) }
*.ebook *.order-list *.list-item { color: rgb(35, 31, 32) }
*.ebook *.unorder-list *.list-item { color: rgb(83, 84, 86) }
*.ebook *.order-list, *.ebook *.unorder-list { padding-left: 2em; margin: 0.5em 0 }
*.ebook *.list-item { font-family: "MerriweatherSans-Bold" }
*.ebook *.order-list { font-family: "MerriweatherSans-Bold" }
*.ebook *.list-alpha-paranthesis { list-style: none; counter-reset: list }
*.ebook *.list-alpha-paranthesis *.list-item { list-style: none; position: relative }
*.ebook *.list-alpha-paranthesis list-item:before { content: counter(list, lower-alpha) ")"; counter-increment: list; position: absolute; left: -1.6em; top: 0.19em }
*.ebook *.list-lower-alpha { list-style: lower-alpha }
*.ebook *.list-no-style { list-style: none }
*.ebook ol.nav-items { list-style: none }
*.ebook *.list-bold { font-family: "MerriweatherSans-Bold" }
*.ebook *.list-alpha { list-style: lower-alpha }
*.ebook *.list-step.para { display: table; list-style: none; padding-left: 0 }
*.ebook *.list-step *.order-list { display: block }
*.ebook *.list-step > *.list-item { display: table-row; margin-bottom: 0.5em; line-height: 18pt }
*.ebook *.list-step > *.list-item *.step-title, *.list-step > *.list-item *.step-info { display: table-cell; padding-bottom: 0.5em }
*.ebook *.list-step > *.list-item *.step-title { white-space: nowrap; padding-right: 1em; color: rgb(128, 165, 63) }
*.ebook *.list-icon *.step-title { width: 4em; vertical-align: top }
*.ebook ul ul, *.ebook ul ul { list-style-type: disc }
*.ebook *.list-icon *.step-title *.image { max-width: 100% }
*.ebook *.list-no-space { padding-left: 0 }
*.ebook *.list-no-space > *.list-item *.para { margin: 0 }
*.ebook *.unorder-list *.unorder-list, *.ebook *.order-list *.unorder-list { list-style: disc }
*.ebook *.tbl { width: 100%; border-collapse: collapse; border-spacing: 0; color: rgb(35, 31, 32) }
*.ebook *.tbl-cntr { margin: 2em 0; clear: both; font-size: 10pt }
*.ebook *.tbl tr td { font-size: 10pt }
*.ebook *.tbl-cntr *.box { padding-bottom: 12pt; background: rgb(254, 246, 226); width: 100% }
*.ebook *.tbl-cntr *.title, *.ebook *.tbl-cntr *.caption { background: rgb(69, 115, 155); font-family: "MerriweatherSans-ExtraBold"; color: rgb(255, 255, 255); font-size: 12pt; text-transform: uppercase; padding: 8pt 0 8pt 8pt }
*.ebook *.tbl-cntr *.tbl tr td:last-child { padding-right: 8pt }
*.ebook *.tbl-cntr *.caption { background: rgb(220, 224, 233); font-family: "MerriweatherSans-Bold"; color: rgb(34, 30, 31); font-size: 11.5pt; text-transform: none }
*.ebook *.tbl-cntr *.tbl { width: 100% }
*.ebook *.tbl-cntr *.tbl tr td { padding: 4pt 0 }
*.ebook *.tbl-cntr *.tbl thead tr td { color: rgb(69, 115, 155); font-size: 10pt; font-family: "MerriweatherSans-Regular"; text-transform: uppercase; padding: 8pt 0 8pt 8pt }
*.ebook *.tbl-cntr *.tbl-1 tbody tr:nth-child(odd) td { background: rgb(255, 255, 255) }
*.ebook *.tbl-cntr *.tbl-1 tbody tr td:first-child { color: rgb(69, 115, 155); text-align: center; background: rgb(254, 246, 226); width: 12% }
*.ebook *.tbl-cntr *.tbl-1 tbody tr td:nth-child(2) { padding-left: 1em; width: 9% }
*.ebook *.tbl-cntr *.tbl-footer { margin-top: 8pt }
*.ebook *.tbl-cntr *.tbl-footer *.para { font-size: 7pt; font-family: "MerriweatherSans-Regular"; margin-bottom: 2.5pt; line-height: 7pt; padding: 0 }
*.ebook *.tbl-cntr *.tbl-footer p *.foot-txt { padding-right: 15px }
*.ebook *.tbl-cntr *.tbl-2 tbody tr td { padding-left: 8pt; border-bottom: solid 1.5pt rgb(255, 255, 255) }
*.ebook *.tbl-small { width: 60% }
*.ebook *.tbl tr td.txt-center { text-align: center }
*.ebook *.tbl-cntr *.tbl.tbl-5 thead tr td { text-transform: none }
*.ebook *.tbl-cntr *.tbl thead tr td { font-weight: bold }
*.ebook *.animation { font-family: "MerriweatherSans-Regular"; font-size: 12pt; margin: 1em 0; color: rgb(28, 152, 176); display: block }
*.ebook *.glossary dl dt { font-family: "MerriweatherSans-Bold"; margin-top: 0.5em }
*.ebook *.glossary dl dd { font-family: "MerriweatherSans-Italic"; margin: 0.5em 0 0 40px }
*.ebook *.equation math { font-family: "STIXGeneral-Regular"; font-size: 12pt; color: rgb(35, 31, 32) }
*.ebook span.equation, *.ebook span.equation math { font-family: "STIXGeneral-Regular"; font-size: 12pt; color: rgb(35, 31, 32); display: inline }
*.ebook *.para.center { text-align: center }
*.ebook *.txt-bold { font-family: "MerriweatherSans-Bold" }
*.ebook *.txt-extrabold { font-family: "MerriweatherSans-ExtraBold" }
*.ebook *.txt-italic { font-family: "MerriweatherSans-Italic" }
*.ebook *.txt-bold-italic { font-family: "Merriweather-BoldItalic" }
*.ebook *.txt-orange { color: rgb(225, 86, 49) !important }
*.ebook *.txt-blue { color: rgb(28, 152, 176) !important }
*.ebook *.txt-parrot { color: rgb(128, 165, 63) }
*.ebook div.equation { text-align: center; margin: 1em 0 }
*.ebook *.equation math { font-family: "STIXGeneral-Regular"; font-size: 12pt; color: rgb(35, 31, 32) }
*.ebook span.equation, *.ebook span.equation math { font-family: "STIXGeneral-Regular"; font-size: 12pt; color: rgb(35, 31, 32); display: inline }
*.ebook *.para span.animation-title-para { font-family: "MerriweatherSans-Bold"; font-size: 12pt; color: rgb(28, 152, 176) }
*.ebook *.custom-pink-txt { color: rgb(181, 31, 113) !important; font-family: MerriweatherSans-Bold; font-size: 12pt }
*.ebook *.glossaryTerm { color: rgb(28, 152, 176); font-family: "MerriweatherSans-Bold" }
*.ebook *.txt-quote-center *.para { margin-bottom: 0px }
*.ebook p.para_bold { font-weight: bold }
*.ebook *.uppercase { text-transform: uppercase !important }
*.ebook *.indent { text-indent: 30pt }
*.ebook *.sidenote-fig.width-half { margin: 0.5em 0 9px 9px }
*.ebook *.equation math { font-family: "STIXGeneral-Regular"; font-size: 14pt; line-height: 16pt; color: rgb(35, 31, 32); max-width: 100%; word-break: break-all; word-wrap: break-word }
*.ebook *.sidenote-equation { border: none; position: relative }
*.ebook *.sidenote-equation *.equation { padding-right: 5em; text-align: center; margin: 0; color: rgb(35, 31, 32) }
*.ebook *.equation-number { position: absolute; right: 0.5em; top: 2pt; font-size: 11.5pt; line-height: 14pt; color: rgb(35, 31, 32) }
*.ebook *.equation { font-family: "STIXGeneral-Regular"; text-align: center; margin: 1em 0; color: rgb(35, 31, 32); word-break: break-all; word-wrap: break-word; font-size: 11.5pt; line-height: 12pt }
*.ebook span.equation { text-align: left; display: inline; margin-right: 0.3em; color: rgb(35, 31, 32) }
*.ebook div.equation math, *.ebook span.equation math { font-size: 14pt; line-height: 16pt; font-family: "STIXGeneral-Regular"; color: rgb(35, 31, 32); word-break: break-all }
*.ebook *.para.txt-blockquote { margin: 0 1.5em }
*.ebook *.txt-center { text-align: center }
*.ebook ol.nav-items { list-style: none }
*.ebook *.txt-lowercase { text-transform: lowercase !important }
*.ebook *.txt-uppercase { text-transform: uppercase !important }
*.ebook *.hr-line { border: 1px solid rgb(35, 31, 32); margin: 0 auto; text-align: center; width: 50% }
*.ebook *.txt-darkorange { color: rgb(225, 86, 49) }
*.ebook *.txt-darkblue { color: rgb(28, 152, 176) }
*.ebook *.txt-red { color: rgb(190, 51, 51) }
img { max-width: 100%; }
